<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
<link rel="icon" href="/images/favicon.ico">
<meta name="keywords" th:content="${title}">
<meta name="description" th:content="${title}">
<link href="/images/favicon.ico" rel="SHORTCUT ICON">
<title th:text="${application.propertyMap['k19']}+'|'+${application.propertyMap['k1']}"></title>
<link rel="stylesheet" href="/layui/css/layui.css"/>
<link rel="stylesheet" href="/css/css.css"/>
<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/share.min.css">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="header" th:include="common/menu::#m" />

<div class="layui-container" id="contentbody">
    <div class="layui-collapse">
        <div class="layui-row">
            <div class="layui-col-md12">
                <div class="courseList_body">
                    <div class="w1220 searchContent">
                        <ul>
                            <li class="li_3">
                                <div style="text-align: center;">
                                    <!--<span style="font-weight: bold">搜索：</span>-->
                                    <form class="layui-form" action="/blog/list/1" method="post">
                                        <input type="text" th:value="${s_blogname}" name="s_blogname" style="height: 40px;width: 40%"  placeholder="请输入您要搜索的文章 " autocomplete="off" class="layui-input s_input" >
                                        <input type="submit" class="layui-btn layui-btn-radius " value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;搜索&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ">
                                    </form>
                                </div>
                            </li>
                            <li style="margin-top:30px;width: 93%; word-break:break-all; font-size: 18px;">
                                <div class="layui-colla-item" >
                                    <h2 class="layui-colla-title" style="background-color: honeydew;width: 50px;font-weight: bold">类别</h2>
                                    <div class="layui-colla-content layui-show"><!--layui-show 默认展开选项卡-->
                                        <dd>
                                            <a onclick="selectTypeId(0)"><span id="typeId_0" class="opt">全部</span></a>
                                        </dd>
                                        <!--
                                            用 th:with 定义局部变量 colSize 和 rowSize ， 变量作用域在它所在的 table 之内。
                                            colSize=5 表示每行显示5五个，超过则换行，
                                            rowSize 行数，通过blogTypeList的总数和colSize计算出来。
                                        -->
                                        <table th:with="colSize=${9},
                                            rowSize=${application.blogTypeList.size()/colSize},
                                            rowSize=${(application.blogTypeList.size()%colSize==0 ? rowSize : (rowSize+1))}">
                                            <!--遍历行数，rowIdx为行号，每一行是一个tr标签对 -->
                                            <tr th:if="${application.blogTypeList.size() gt 0}" th:each="rowIdx:${#numbers.sequence(1, rowSize)}">
                                                <!--遍历列数，colIdx为列号，每一列是一个td标签对 -->
                                                <td th:each="colIdx:${#numbers.sequence(1,colSize)}">
                                                    <!-- 根据行号和列号计算数组的下标索引号idx ,然后通过idx从blogTypeList中取出一个元素blogType
                                                    由于最后一行的数据可能没有满行（blogTypeList.size()%colSize!=0的情况），因此需要做数组越界判断， -->
                                                    <!-- th:block 功能标签，标签本身不会输出为一个html元素，此处只是用来配合 th:with -->
                                                    <th:block th:with="idx=${(rowIdx-1)*colSize+colIdx-1},
                                                        blogType=${idx<application.blogTypeList.size() ? application.blogTypeList[idx] : null}">
                                                        <!-- th:if 决定是否输出 input 标签：user不是空指针才输出 -->
                                                        <a th:if="${blogType ne null}" th:onclick="selectTypeId('[[${blogType.id}]]')" >
                                                            <span th:id="'typeId_'+${blogType.id}" class="opt"
                                                                  th:text="${blogType.typeName}">
                                                            </span>
                                                        </a>
                                                    </th:block>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="w12201" style="background-color: rgba(228,228,228,0.22)">
                            <ul>
                                <li style="margin-bottom: 10px" th:each="blog:${blogList}">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            <a target="_blank" th:href="'/blog/article/'+${blog.id}" style="font-weight: bold;font-size: 16px;color: darkorange" th:text="${blog.title}"></a>
                                        </div>
                                        <div class="layui-card-body">
                                            <div>
                                <span th:utext="${blog.summary}"><font style="font-weight: bold;" size="3">摘要:</font><br>
                                </span>
                                            </div>
                                            <div style="text-align: right">
                                                <span>发表于 <span th:text="${blog.releaseDate}"></span> 阅读(<span th:text="${blog.reads}"></span>) </span>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                            <!--<div class="course_item" th:each="course:${courseList}" >
                               <a target="_blank" th:href="'/course/'+${course.id}">
                                    <b class="img">
                                        <img class="lazy" th:src="'/courseImages/'+${course.imageName}" th:alt="${course.name}" style="display: inline;">
                                    </b>

                                    <div class="content">
                                        <h5 th:title="${course.name}" th:text="${course.name}"></h5>
                                        <p class="word">
                                            <span class="free" th:if="${course.type=='free'}">免费</span>
                                            <span class="vip" th:if="${course.type=='vip'}">会员</span>

                                            <span class="ren"><i class="fa fa-eye"></i>&nbsp;<l th:text="${course.view}"></l></span>
                                        </p>
                                    </div>
                                </a>
                            </div>-->
                        </div>
                        <div class="w1220" style="margin-top: 20px;text-align: center">
                            <div align="center" th:utext="${pageCode}"></div>
                            <!-- <div id="test1"></div>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="sidenav">
    <ul>
        <!--<li><a><span class="bg"></span><span>京东秒杀</span></a></li>
        <li><a><span class="bg"></span><span>特色优选</span></a></li>
        <li><a><span class="bg"></span><span>频道广场</span></a></li>
        <li><a><span class="bg"></span><span>为你推荐</span></a></li>-->
        <li><a><span class="bg"></span><img src="/myIcons/kf.png" /><span> 联系</span></a></li>
        <li class="back-to-top"><a><span class="bg"></span><img src="/myIcons/top.png" /><span> 顶部</span></a></li>
    </ul>
</div>


<div class="footer" th:include="common/foot::#f" style="margin-top: 10%"/>

<script src="/layui/layui.js"></script>
<script src="/layui/layui.all.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/jquery.share.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/framework.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    layui.use(['element','laypage','layer'], function(){
        var laypage = layui.laypage;
        var layer=layui.layer;
        //执行一个laypage实例
        laypage.render({
            elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
            ,count: 50 //数据总数，从服务端得到
        });

        // 屏幕中央弹出窗口提示
        // layer.open({
        //     type: 1,
        //     title: false, // 不显示标题栏
        //     //closeBtn: false, // 不显示关闭按钮
        //     //shade: 0.8, // 遮罩层
        //     area: ['300px', '200px'], // 宽高
        //     //offset: 'rt', // 右上角定位
        //     content: '<div style="padding:10px;">这是内容区域</div>' // 内容
        // });
    });

    function selectTypeId(typeId){
        sessionStorage.typeId=typeId;
        let url="/blog/list/1?s_typeId="+typeId;
        window.location.href=url;
    }

    $(function () {
        let clearSessionStorage=[[${clearSessionStorage}]]
        if(clearSessionStorage=='yes'){
            // 第一次请求 清空之前的查询条件
            sessionStorage.clear();
            // 恢复样式
            $("#typeId_0").addClass("on");
        }else{
            // 不是第一次操作 设置搜索条件的样式
            let typeId=sessionStorage.typeId;
            let type=sessionStorage.type;
            if(typeId==undefined){
                $("#typeId_0").addClass("on");
            }else{
                $("#typeId_"+typeId).addClass("on");
            }
        }
    });

    function showMore(){
        window.location.href="/blogType/more";
    }



    // 返回顶部
    let backToTopBtn = document.querySelector('.back-to-top');
    backToTopBtn.style.display = 'none';
    window.addEventListener('scroll', () => {
        if (window.scrollY > 300 || document.documentElement.scrollTop > 300) {
            backToTopBtn.style.display = 'block';
        } else {
            backToTopBtn.style.display = 'none';
        }
    });
    backToTopBtn.addEventListener('click', (e) => {
        e.preventDefault();

        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    });
    /*]]>*/
</script>

</body>
</html>